input#current-password-input(
  ng-model="vm.currentPassword",
  ng-model-options="{allowInvalid: true}",

  focus-on="focusOnCurrentPasswordInput",
  ng-focus="vm.onCPFocus($event)",
  ng-blur="vm.onCPBlur($event)",

  name="currentPassword",
  type="password",
  placeholder="{{vm.currentPasswordPlaceholder}}",

  required)

label(ng-show="vm.currentPasswordFocus || vm.currentPasswordField.$dirty") #[input(type="checkbox", id="currentPasswordCheckbox", ng-model="focusOnCurrentPasswordInput", ng-change="vm.toggleTypeAttribute()")] Show
