.tc-file-field__label
  label.tc-label {{labelText}}
    span.lowercase(ng-if="showFileType") {{ ' *(.' + fileType + ')'}}

.tc-file-field__inputs
  .tc-label__wrapper
    span.tc-label__asterisk.lowercase(ng-if="mandatory") #[span *]mandatory
    input.tc-file-field__input(
      filepicker
      type="filepicker-dragdrop",
      data-fp-maxSize="{{maxSize}}",
      data-fp-button-class="tc-btn",
      data-fp-drag-class="tc-fp-file-drag-drop"
      data-fp-services="{{fpServices}}",
      data-fp-multiple="false",
      data-fp-extensions="{{extensions}}",
      data-fp-store-location="s3",
      data-fp-store-container="{{fpContainer}}",
      data-fp-store-path="{{filePath}}",
      on-success="onFileSeleted(event.fpfile)"
    )
