.lightbox-container
  .left-nav
    img(src="/images/ico-arrow-big-left.svg", ng-click="incrementIndex(-1)")

  .selector
    .title {{challenge.name}}


    img(
      ng-src="{{selectedImage}}",
      fallback-src="/images/card-bg-no-image.svg"
    )


    .info
      | {{selectedIndex + 1}} of {{challenge.userDetails.submissions.length}}

    .selections
      img.selection(
        ng-repeat="submission in challenge.userDetails.submissions",
        ng-src="{{currentImage = submission.submissionImage && submission.submissionImage.full}}",
        ng-click="updateSelected(currentImage, $index)",
        ng-class="{'current': currentImage == selectedImage}",
        fallback-src="/images/card-bg-no-image.svg"
      )

  .right-nav
    img(src="/images/ico-arrow-big-right.svg", ng-click="incrementIndex(1)")

//  img(ng-src="http://studio.{{DOMAIN}}/studio.jpg?module=DownloadSubmission&sbmid={{challenge.thumbnailId}}&sbt=full", fallback-src="/images/ico-picture.svg")
