input#password-input(
  ng-model="vm.password",
  ng-model-options="{allowInvalid: true}",

  focus-on="focusOnInput",
  ng-focus="vm.onFocus($event)",
  ng-blur="vm.onBlur($event)",

  name="password",
  type="password",
  placeholder="{{vm.placeholder}}",

  ng-minlength="8",
  ng-maxlength="64",
  has-letter,
  has-symbol-or-number,
  required)

label(ng-show="vm.passwordFocus || vm.passwordField.$dirty") #[input(type="checkbox", id="passwordCheckbox", ng-model="focusOnInput", ng-change="vm.toggleInputType()")] Show
