input#password-input(
  ng-model="vm.password",
  ng-model-options="{allowInvalid: true}",

  ng-hide="vm.isSocialRegistration",
  focus-on="refocus",

  ng-focus="vm.onFocus($event)",
  ng-blur="vm.onBlur($event)",

  name="password",
  type="password",
  placeholder="{{vm.placeholder}}",

  ng-minlength="8",
  ng-maxlength="64",
  has-letter,
  has-symbol,
  has-number,
  required)

label(ng-show="vm.passwordFocus || vm.passwordField.$dirty") #[input(type="checkbox", ng-model="refocus", ng-change="vm.toggleInputType()")] Show
