doctype html
html
  head(profile="http://www.w3.org/2005/10/profile")
    base(href="/")

    meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    meta(name="fragment", content="!")
    script.
      (function(d) {
        var config = {
          kitId: 'gig7sjk',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);

    include ../assets/scripts/google.analytics.jade
    include ../assets/scripts/zendesk-widget.jade

    if htmlWebpackPlugin.options.NEW_RELIC_APPLICATION_ID
      include ../assets/scripts/newrelic.analytics.jade

  body(ng-app="topcoder", ng-controller="TopcoderController as main", ng-class="{'menu-visible': main.menuVisible}", ng-strict-di)

    #header(ui-view="header", autoscroll="true")

    .intro-js-container(ng-intro-options="main.introOptions", ng-intro-method="main.startIntro")

    toaster-container(toaster-options="{{main.globalToasterConfig}}")

    .fold-wrapper
      .view-container(ui-view="container")
      .fold-pusher

    div(ui-view="footer")
