.edit-profile-container
  form(name="vm.editProfile", ng-submit="vm.editProfile.$valid && vm.updateProfile()", autocomplete="off")
    // Stops Chrome from autofilling and autocompleting (along with autocomplete="off" on the form)
    input(autocomplete="false", name="hidden", type="text", style="display:none;")

    .settings-section.about
      .section-info
        h2 about me
        .description The most important information that other community members should know about you.

      .section-fields
        .image
          .form-label your profile image
          .edit-image
            img.profile-circle(fallback-src="/images/avatarPlaceholder.png", ng-src="{{vm.userData.photoURL}}")

            input(type="file", name="image", on-file-change)

        .country
          .form-label country
          angucomplete-alt(
            id="countryId",
            input-name="location",
            input-class="form-field",
            placeholder="Country",
            pause="100",
            selected-object="vm.updateCountry",
            local-data="vm.countries",
            initial-value="vm.countryObj",
            search-fields="name",
            title-field="name",
            match-class="angucomplete-highlight",
            minlength="1",
            ng-class="{'form-field-focused': hasFocus==true}"
          )
          span.error-message(ng-if="vm.editProfile.$invalid") This is a required field

        .bio
          .form-label short bio
            span(style="float:right;") {{vm.userData.description.length || 0}}/144
          textarea.form-field(name="description", ng-model="vm.userData.description" ng-maxlength="144")

    .settings-section.tracks
      .section-info
        h2 Tracks
        .description Topcoder's three categories of challenges... please pick at least one on your skills and interests


      .section-fields
        track-toggle(tracks="vm.tracks")
          
        button(type="submit", tc-busy-button, tc-busy-when="vm.profileFormProcessing" ng-disabled="vm.editProfile.$invalid || vm.editProfile.$pristine", ng-class="{' ': vm.editProfile.$valid, 'disabled': vm.editProfile.$pristine || vm.editProfile.$invalid}") Save

  .settings-section.skills
    .section-info
      h2 skills
      .description Languages, environments, frameworks, libraries, platforms, tools, and any other technologies that you know well

    .section-fields
      .field-label Add a new skill
      angucomplete-alt(
        id="tagId",
        input-name="skill-input",
        input-class="form-field",
        placeholder='Type skill name here and press "Enter" to add it',
        pause="100",
        selected-object="vm.addSkill",
        local-data="vm.tags",
        search-fields="name",
        title-field="name",
        clear-selected=true,
        match-class="angucomplete-highlight",
        minlength="1",
        ng-class="{'form-field-focused': hasFocus==true}"
      )

      .list
        .skill(ng-repeat="skill in vm.skills | orderBy:'-score'")
          skill-tile(skill="skill" enable-hide="true")

  .settings-section.links
    .section-info
      h2 external links
      .description Show off your work and experience outside of Topcoder. Connect accounts from popular services and networks or add a link to any site.

    .section-fields
      .field-label Link your accounts
      .external-links
        external-accounts(linked-accounts="vm.linkedExternalAccounts.length", read-only="false")
        
      .field-label(ng-show="vm.hasLinks") your accounts
      .existing-links
        external-links-data(ng-show="vm.hasLinks" linked-accounts-data="vm.linkedExternalAccountsData")
