.register-container
  header
    a.logo-link(href="/")
      img(src="/images/logo_mobile.svg", alt="Topcoder Logo")
    .arrow
  //- h1 Join the Topcoder technology community to earn, learn, and connect
  h1 Join Topcoder

  form(name="vm.registerForm", role="form", ng-submit="vm.registerForm.$valid && vm.register()", novalidate, autocomplete="off")

    // Stops Chrome from autofilling and autocompleting (along with autocomplete="off" on the form)
    input(autocomplete="false", name="hidden", type="text", style="display:none;")

    p.form-error(ng-show="vm.errMsg") {{vm.errMsg}}

    .first-last-names
      input-sticky-placeholder(sticky-placeholder="First", ng-model="vm.firstname")
        input(ng-model="vm.firstname", maxlength="64", name="firstname", placeholder="First Name", type="text", required)

      input-sticky-placeholder(sticky-placeholder="Last", ng-model="vm.lastname")
        input(ng-model="vm.lastname", maxlength="64", name="lastname", placeholder="Last Name", type="text", required)

    .country-dropdown
      angucomplete-alt(
        input-name="country",
        placeholder="Country",
        pause="100",
        selected-object="vm.updateCountry",
        local-data="vm.countries",
        initial-value="vm.countryObj",
        search-fields="name",
        title-field="name",
        match-class="angucomplete-highlight",

        minlength="1"
      )

      .form-input-error(ng-show="vm.registerForm.country.$dirty && !vm.isValidCountry")
        p.form-error(ng-show="!vm.isValidCountry") Please choose a country from the list

    .section-break
      hr

    .validation-bar(ng-class="{ 'error-bar': (vm.registerForm.username.$error.usernameIsFree || vm.registerForm.username.$error.minlength || vm.registerForm.username.$error.maxlength), 'success-bar': (vm.registerForm.username.$valid && !vm.registerForm.username.$error.usernameIsFree) }")
      input-sticky-placeholder(sticky-placeholder="Username", ng-model="vm.username")
        input(ng-model="vm.username", ng-model-options="{ debounce: {'default': 500} }", ng-focus="vm.usernameTips = true", ng-blur="vm.usernameTips = false", ng-minlength="2", ng-maxlength="15", name="username", placeholder="Username", type="text", username-is-free, required)

      .tips.username-tips(ng-show="vm.usernameTips")
        h3 Username Tips:

        p Your username will be public

        p Please choose one that is between 2 and 15 characters

        p It can contain letters, numbers, and these characters: -_.{}[]

    .form-input-error(ng-if="vm.registerForm.username.$dirty && vm.registerForm.username.$invalid", ng-messages="vm.registerForm.username.$error")
      p.form-error(ng-message="required") Please enter a username.
      p.form-error(ng-message="usernameIsFree") {{vm.usernameErrorMessage}}

      p.form-error(ng-message="minlength") That username is not the correct length or format.

      p.form-error(ng-message="maxlength") That username is not the correct length or format.

    .validation-bar(ng-class="{ 'error-bar': (vm.registerForm.email.$dirty && vm.registerForm.email.$invalid), 'success-bar': (vm.registerForm.email.$valid) }")
      input-sticky-placeholder.email(sticky-placeholder="Email", ng-model="vm.email")
        input(ng-model="vm.email", ng-model-options="{ debounce: {'default': 500} }", ng-focus="vm.emailTips = true", ng-blur="vm.emailTips = false", name="email", placeholder="Enter Your Email", type="email", valid-email, email-is-available, required)

      .tips.email-tips(ng-show="vm.emailTips")
        h3 Email Tips:

        p Your email address will be private and not shared with anyone.

        p We'll occasionally send you emails related to your activities or interests.

    .form-input-error(ng-show="vm.registerForm.email.$dirty && vm.registerForm.email.$invalid", ng-messages="vm.registerForm.email.$error")
      p.form-error(ng-message="emailIsAvailable") {{vm.emailErrorMessage}}

      p.form-error(ng-message="validEmail") {{vm.emailErrorMessage}}

      p.form-error(ng-message="required") Please enter an email address.

    .validation-bar(ng-class="{ 'success-bar': (vm.registerForm.password.$valid) }")
      toggle-password-with-tips(ng-if="!vm.isSocialRegistration")

      .tips.password-tips(ng-show="vm.passwordFocus")
        h3 Password Tips:

        p Your password must have:

        p(ng-class="{ 'has-length-between-range': (vm.registerForm.password.$dirty && !vm.registerForm.password.$error.minlength && !vm.registerForm.password.$error.maxlength && !vm.registerForm.password.$error.required) }") At least 8 characters

        p(ng-class="{ 'has-letter': (vm.registerForm.password.$dirty && !vm.registerForm.password.$error.hasLetter) }") At least one letter

        p(ng-class="{ 'has-symbol-or-number': (vm.registerForm.password.$dirty && !vm.registerForm.password.$error.hasSymbolOrNumber) }") At least one number or symbol

    section.terms
      p By clicking "Join" you agree to Topcoder's #[a(href="http://www.topcoder.com/community/how-it-works/terms/", target="_blank") Terms] and #[a(href="http://www.topcoder.com/community/how-it-works/privacy-policy/", target="_blank") Privacy Policy]

    button.tc-btn.tc-btn-large(type="submit", tc-busy-button, tc-busy-when="vm.registering", ng-disabled="vm.registerForm.$invalid") Join

  section.login-options
    p.tc-separator
      span Or Register With

    ul.networks
      li.network.github
        a.ico(ng-click="vm.socialRegister('github')")
        span Github
      li.network.google-plus
        a.ico(ng-click="vm.socialRegister('google-oauth2')")
        span Google
      li.network.facebook
        a.ico(ng-click="vm.socialRegister('facebook')")
        span Facebook

.join-topcoder
  span Have an account? &nbsp;

    a(ui-sref="login(vm.$stateParams)") Log in
