.edit-review-container(ng-show="vm.loaded")
  .back-link
    .arrow

    p #[a.back(ui-sref="review.status({challengeId: vm.challengeId})") Back to Reviews]

  .scorecard-container
    .challenge-info
      img(src="/images/swift-logo.png")

      h1(ng-bind="vm.challenge.challengeName")

    table.review-info
      tr
        td.info Submission:
        td
          a.subLink(ng-href="https://software.{{vm.domain}}{{vm.submissionDownloadPath}}{{vm.stats.uploadId}}") {{vm.stats.submissionId}}
      tr
        td.info Last Modified On:
        td {{vm.stats.updatedAt || vm.stats.createdAt | localTime}}
      tr
        td.info Reviewer:
        td {{vm.stats.username}}

    hr

    form#review-form(name="editForm", ng-submit="editForm.$valid && vm.submitReviewItems()", role="form", novalidate)
      .scorecard(ng-repeat="q in vm.scorecard.questions")
        h5.description {{q.description}}

        p.guidelines(ng-if="q.questionTypeId === 5", ng-repeat="guideline in q.guidelines track by $index") {{guideline}}

        .select-options(ng-form="optionForm", ng-if="q.questionTypeId === 5")
          select(
            ng-init="q.answer = ''",
            ng-model="q.answer",
            ng-options="num for num in ['0','1','2','3']",
            required,
            name="select",
            ng-class="{required: editForm.$submitted && optionForm.select.$error.required}")

          p.required-message(ng-show="editForm.$submitted && optionForm.select.$error.required") Required
        .comment
          .label Comment
          textarea.text(ng-bind="q.comment")


      button(type="submit") Save and Mark Complete

      button(type="button", ng-click="vm.saveReviewForLater()") Save For Later
