.profile-header-container(ng-cloak)
  profile-widget(profile="profileVm.profile", edit-profile-link="profileVm.showEditProfileLink", num-challenges="profileVm.numProjects")

  .tracks-links
    .tracks
      .track(ng-repeat="track in (profileVm.profile.tracks)")
        img(ng-src="images/ico-track-{{vm.imgMap[track]}}-outline.svg")
        .text {{track | track}}

    hr
    
    .links
      a.forums.link(href="http://forums.{{DOMAIN}}/?module=History&userID={{profileVm.profile.userId}}")
        | Forum Posts
      a.badges.link(ng-click="profileVm.showBadges()")
        | Badges

.profile-about-container

  hr

  tc-section(state="profileVm.status.stats")

    .categories

      .track(ng-if="profileVm.categories['MARATHON'].rank || profileVm.categories['SRM'].rank")
        .name Data Science

      .track(
        ng-repeat="track in profileVm.profile.tracks",
        ng-if="profileVm.categories[track].length > 0"
      )

        .name {{track}}

        .subtrack(
          ng-repeat="subtrack in profileVm.categories[track]",
          ui-sref="profile.subtrack({track: subtrack.track, subTrack: subtrack.subTrack})"
        )
          .name {{subtrack.subTrack | track}}

          .ranking(ng-if="subtrack.rank")
            .number {{subtrack.rank | ordinal}}

            .tag Ranking

          .ranking(ng-if="subtrack.wins && !subtrack.rank")
            .number {{subtrack.wins}}

            .tag Wins
          
          .ranking(ng-if="subtrack.fulfillment")
            .number {{subtrack.fulfillment + '%'}}

            .tag Fulfillment

  hr

  tc-section(state="profileVm.status.skills")
    .skills(ng-show="profileVm.skills && profileVm.skills.length > 0")
      h1 Skills / Technologies


      .list
        .leftButton(
          ng-click="vm.shiftSkills(-1)",
          ng-show="vm.skillIndex > 0"
        ) &#9664;

        .skill(ng-repeat="skill in profileVm.skills.slice(vm.skillIndex, vm.skillIndex + 5)")
          skill-tile(skill="skill")

        .rightButton(
          ng-click="vm.shiftSkills(1)",
          ng-show="vm.skillIndex < vm.skills.length - 5"
        ) &#9654;


  hr

  tc-section(state="profileVm.status.externalLinks")
    .links
      h1 External Links
      .list
        .link(ng-repeat="link in vm.mockProfile.links")
          h2 {{link.name}}

          ul.properties
            li.property(ng-repeat="property in link.properties")
              .key {{property.name}}

              .value {{property.value}}

          .logo
            img(ng-src="/images/{{link.logo}}")
