.profile-header-container(ng-cloak)
  profile-widget(profile="profileVm.profile", edit-profile-link="profileVm.showEditProfileLink", num-challenges="profileVm.numProjects", profile-vm="profileVm")

.profile-about-container

  tc-section(ng-show="vm.displaySection.skills" state="profileVm.status.skills" class="skills")
    h3.activity Skills &amp; Technologies  
    .list(ng-show="profileVm.skills && profileVm.skills.length > 0")

      .skill(ng-repeat="skill in vm.skills")
        skill-tile(skill="skill")

    button.more(ng-show="vm.skills.length < vm.fullSkills.length", ng-click="vm.skills = vm.fullSkills") VIEW MORE

    .empty-state(ng-show="!profileVm.skills || (profileVm.skills && profileVm.skills.length == 0)")
      .action-text show us your skills &amp; tools, we'd love that!
      
      .list
        .skill(ng-repeat="skill in vm.sampleSkills")
          skill-tile(skill="skill")
      
      .description The more the better. Skills are important for all challenge organizers and
        | the community at large. So, go ahead and tell us more about you.
      
      button.link-button(ui-sref="settings.profile") ADD YOUR SKILLS

  tc-section(state="profileVm.status.stats")

    .categories

      h3.activity Topcoder Activity

      .empty-state(ng-if="!profileVm.numProjects")
        .action-text SHOW US YOU'RE A NINJA!
        .tracks
          .track(ng-repeat="track in ['DEVELOP', 'DESIGN', 'DATA_SCIENCE']")
            div(class="{{profileVm.imgMap[track]}}-icon")
              div
            .text {{track | track}}
        .description Hey, whatever your like might be—Design, Development, or Data Science—we have it! Explore the Challenges section and show us what you’re made of!
        button.link-button(ui-sref="settings.profile") CHALLENGE ME!

      .track(
        ng-repeat="track in profileVm.profile.tracks",
        ng-if="profileVm.categories[track].length > 0"
      )

        div(class="name")
          img(ng-if="track == 'DATA_SCIENCE'", src="/images/ico-track-data-outline.svg")
          img(ng-if="track == 'DEVELOP'", src="/images/ico-track-develop-outline.svg")
          img(ng-if="track == 'DESIGN'", src="/images/ico-track-design-outline.svg")
          span {{track | track | uppercase}}

        .subtrack(
          ng-repeat="subtrack in profileVm.categories[track]",
          ui-sref="profile.subtrack({track: subtrack.track, subTrack: subtrack.subTrack})",
          class="{{$index == 0 && 'first'}}"
        )
          .name {{subtrack.subTrack | track}}

          .ranking(ng-if="subtrack.rating")
            .number.rating
              | {{subtrack.rating}}
              span.square(style="background-color: {{subtrack.rating | ratingColor}}") 

            .tag Rating

          .ranking(ng-if="subtrack.rank && !subtrack.rating")
            .number {{subtrack.rank | ordinal}}

            .tag Ranking

          .ranking(ng-if="subtrack.wins && !subtrack.rank && !subtrack.rating")
            .number {{subtrack.wins}}

            .tag Wins
          
          .ranking(ng-if="subtrack.fulfillment")
            .number {{subtrack.fulfillment + '%'}}

            .tag Fulfillment

          img.arrow(src="/images/ico-arrow-big-right.svg")

  tc-section(ng-show="vm.displaySection.externalLinks" state="profileVm.status.externalLinks" class="external-links")
    h3.activity Links
    external-links-data(ng-show="vm.hasLinks" linked-accounts-data="vm.linkedExternalAccountsData")

    .empty-state(ng-hide="vm.hasLinks")
      .action-text you are connected, be proud of it

      external-accounts.external-account-container(linked-accounts="[]" read-only="true")

      .description Adding your links to your profile will allow you to build your reputation, and show the other members how you're connected.

      button.link-button(ui-sref="settings.profile") ADD YOUR LINKS
