label.tc-label {{labelText}}

.tc-label__wrapper
  p.tc-label__asterisk(ng-if="inputRequired && showAsteriskText") #[span *]{{asteriskText}}

  input(
    name="{{inputName}}",
    type="{{inputType}}",
    placeholder="{{placeholder}}",
    ng-model="inputValue",
    ng-pattern="inputPattern",
    ng-required="inputRequired",
    ng-disabled="inputDisabled",
    maxlength="{{maxlength}}",
    ng-change="onChange()"
  )
