.fieldset(ng-repeat="font in formFonts track by font.id")
  label.tc-label Font Source

  dropdown(
    name="'font-source{{$index}}'",
    options="fontList{{$index}}",
    placeholder="'Select a provider from the list'",
    searchable="false",
    clearable="false",
    on-change="selectFont",
    value="formFonts[{{$index}}].source"
  )

  tc-input.fieldset__input(
    label-text="Font Name",
    placeholder="Select font source to edit field"
    input-value="font.name",
    input-name="fontName{{$index}}",
    input-required="formFonts[$index].isFontNameRequired",
    input-disabled="formFonts[$index].isFontNameDisabled"
  )

  .tc-error-messages(
    ng-show="submissionForm['fontName' + $index].$dirty && submissionForm['fontName' + $index].$invalid"
    ng-messages="submissionForm['fontName' + $index].$error"
  )
    p(ng-message="required") This field is required.

  tc-input.fieldset__input(
    label-text="Font URL",
    placeholder="Select font source to edit field",
    input-value="font.sourceUrl",
    input-name="fontUrl{{$index}}",
    input-required="formFonts[$index].isFontUrlRequired",
    input-disabled="formFonts[$index].isFontUrlDisabled",
    input-pattern="urlRegEx"
  )

  .tc-error-messages(
    ng-show="submissionForm['fontUrl' + $index].$dirty && submissionForm['fontUrl' + $index].$invalid"
    ng-messages="submissionForm['fontUrl' + $index].$error"
  )
    p(ng-message="pattern") Please enter a valid url.
    p(ng-message="required") This field is required.

button.fieldset__button.tc-btn.tc-btn-s(type="button", ng-click="createAdditionalFontFieldset()") + Add Font
